<h2 class="text-center mt-5"><%= @list.name %></h2>
<div class="text-center mt-1"><%= link_to "Go Back", lists_path, class: "btn btn-primary" %></div>
<h3 class="text-center mt-5">Movies: <%= @list.movies.count %></h3>
