.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 3px 3px 3px rgba(175, 175, 175, 0.253);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
